body {
    background-color: #474747;
}

.leftside {
    background-color: red;
}

.rightside {
    background-color: lightblue;
}

.leftside, .rightside {
    position: relative;
    float: left;
    min-width: 332px;
 
    display: flex;
    align-items: center;
}

.leftcontent, .rightcontent {
    background-color: lightgreen;
    width: 100%;
}

/* sizes - default */
.leftside {
    padding: 0 16px 0 16px;
    width: 332px;
    height: 100vh;
}
.rightside {
    padding-left: 96px;
    width: 396px;
    height: 100vh;
}

/* sizes - small screen */
@media (max-width: 728px) {
    .leftside, .rightside {
        padding: 0 16px 0 16px;
        width: 100%;
        height: auto;
    }
}


