body {
    background-color: #474747;
    height: 100vh;
    display: flex;
    align-items: center;
}

/* layout made with floating sections */
.section1, .section2, .section3 {
    float: left;
}

.section3 {
    clear: left;
}

/* sizes - default */
.section1, .section3 {
    padding: 0 16px 0 16px;
    width: 332px;
}
.section2 {
    padding-left: 96px;
    width: 396px;
    height: 100%;
}

.content2 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
   
    width: 30%;
    min-width: 300px;
}

/* sizes - small screen */
@media (max-width: 744px) {
    .section1, .section2, .section3 {
        padding: 0 16px 0 16px;
        width: 100%;
        
    }
    .content2 {
        position: relative;
        top: 0;
        transform: translate(0,0);
        width: 100%;
    }
}

/* titles and texts */
* {
    color: white;
}

h1, h5 {
    font-family: 'Libre Baskerville', serif;
}

a, p {
    font-family: 'Open Sans', sans-serif;
}

a, a:visited {
    color: white;
    text-decoration: underline;
}

h1 {
    font-size: 24px;
}

h5, p {
    font-size: 16px;
    line-height: 26px;
}

.content2 {
    text-align: left;
}

i {
    font-size: 24px;
}

/* anchor color */
a:hover, a:active, i:hover {
    color: #ffa3a3;
}

/* spacings */
.profilepic {
    margin: 24px auto 24px auto;
}

.socialbar {
    height: 24px;
    margin-top: 8px;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.cvtext {
    margin-top: 24px;
}

@media (max-width: 744px) {
    .cvtext {
        margin-bottom: 32px;
    }
}    

.social {
    margin-left: 24px;
}

.nomargin {
    margin-left: 0;
}

.findmeon {
}

/* round profile picture */
.profilepic {
    border-radius: 50%;
    border: 2px solid white;
}