body {
    background-color: #474747;
}

.first {
    background-color: red;
}

.second {
    background-color: lightblue;
}

.first, .second {
    position: relative;
    float: left;
    min-width: 332px;
 
    display: flex;
    align-items: center;
}

.leftcontent, .rightcontent {
    background-color: lightgreen;
    width: 100%;
}

/* sizes - default */
.first {
    padding: 0 16px 0 16px;
    width: 332px;
    height: 100vh;
}
.second {
    padding-left: 96px;
    width: 396px;
    height: 100vh;
}

/* sizes - small screen */
@media (max-width: 728px) {
    .first, .second {
        padding: 0 16px 0 16px;
        width: 100%;
        height: auto;
    }
}

h1 {
    font-size: 24px;
}

.profilepic {
    margin: 24px auto 0 auto;
}
